.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
   
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #000;
    background-color: #f1f1f1;
  }
  
  .avatar-section {
    margin-bottom: 20px; 
  }
  
  .info-sect {
    margin-bottom: 20px; 
  }
  
  .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #f2f2f2;
    background-color: #fff; 
  }
  
  .info-section h1, .info-section .username {
    text-align: center;
    margin: 0;
    color: #333; 
  }
  
  .details-list {
    list-style-type: none;
    width: 100%;
    padding: 0;
  }
  
  .details-list li {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: space-between;
  }
  
  .details-list li:first-child {
    border-top: none;
  }
  
  .details-list strong {
    font-weight: bold;
  }
  
  span {
    margin-left: 60px;
  }
  
  .handel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  
  .handel button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .handel button:hover {
    background-color: #45a049; 
  }
  
  .avatar {
   
    border-radius: 50%;
    border: 4px solid #ccc; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  }